:root {
    --section-bg-1: #F4F9E2;
    --section-bg-2: #62D0DF;
    --section-bg-3: #C4E769;
    --section-bg-4: #0052C1;
    --section-bg-5: #8F00FF;
    --section-bg-6: #22356F;
    --btn-color: #F9B640;
    --btn-color-2: #62D0DF;
    --text-color: #22356F;
    --padding-left--main-content: 180px;
}